<html>
    <div>
        <form method="post" name="comment_form" id="comment_form" action="/foodstores/create" role="form">

            <div class="form-group"><!--<div class="control-group"> -->
                <label for="name">Foodstore</label>
                <!--<textarea rows="5" class="form-control" id="foodstore" name="foodstore"/>-->
                <input type="text" class="form-control" id="name" name="name"/>
            </div>

            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</html>