<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Image meal</title>
    </meta>
</head>
<body>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>


<div>
    <form method="POST" enctype="multipart/form-data" action="/meals/upload/{mealId}">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

<!--<div>-->
    <!--<ul>-->
        <!--&lt;!&ndash;правда, еда здесь в любом случае одна, разве что будет история...&ndash;&gt;-->
        <!--<li th:each="meal : ${meals}">-->
            <!--<a th:href="${image}" th:text="${image}" />-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->

<div>
    <ol>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ol>
</div>

<!--showing image:-->
<div>
    <ul>
        <li th:each="file : ${files}">
            <img class="picture" th:attr="src=@{${file}}" />
        </li>
    </ul>
</div>


<div>
 <!--<p>-->
    <!--&lt;!&ndash;<img class="picture" или "info" th:src="@{'/pic/'+${mealId}}" />&ndash;&gt;-->
        <!--&lt;!&ndash;just text:&ndash;&gt;-->
     <!--&lt;!&ndash;<img class="info" th:attr="src=@{${image}}" th:text="${image}" th:href="${image}"/>&ndash;&gt;-->

     <!--<img th:src="@{showImage(file='icecream.jpg'}" />-->
 <!--</p>-->


</div>
</body>
</html>