<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <!--3. список друзей-->
    <title>Title</title>
</head>
<body>
<h3>Hello, <span th:text="${facebookProfile.name}">Some User</span>!</h3>

<div id="content" layout:fragment="content">
    <h3>Your Facebook Friends</h3>
    <ul class="friends">
        <li th:each="friend : ${friends}"><img th:src="'http://graph.facebook.com/' + ${friend.id} + '/picture'" align="middle"/><span th:text="${friend.name}">name</span></li>
    </ul>
</div>
</body>
</html>